// Place all the styles related to the public/addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.address-new {
    width:1200px;
    margin:0 auto;
}

.address-index {
    width:1200px;
    margin:0 auto;
}
.address-edit {
    width:1200px;
    margin:0 auto;
}