// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cart_items_table{
    width:1200px;
    margin:0 auto;
}

.total_price {
    width:300px;
    margin-left:1000px;
}

.cart_items_action {
    margin-left:1000px;
}