// Place all the styles related to the admin/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.genre-table {
    width:400px;
}

.genre-new{
    width:400px;
    margin:0 auto;
}