// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.admin_item_new {
    width:1200px;
    height:800px;
    margin:0 auto;
}
.admin-item-show {
   display:flex;
}

.item-show {
    width:400px;
}

.item-show-img {
    margin-left:300px;
}

.item-edit {
    width:1200px;
    margin:0 auto;
}
.item-new{
    margin-right:1200px;
}