// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.admin-order-show {
    display:flex;
}

.admin-order-show{
    margin-left:500px;
}
.admin-order-info {
    width:600px;
}

.order-total-price {
    margin-left:1200px;
}